# CSV pdf

In [1]:
import csv

In [5]:
f=open("student.csv",'r')
csv_reader=csv.reader(f)
for row in csv_reader:
  print(row)
f.close()

['', '0', '1', '2']
['0', '1', '2', '3']
['1', '4', '5', '6']
['2', '7', '8', '9']

In [9]:
with open("student.csv",'r') as csv_file:
  reader=csv.reader(csv_file)
  rows=[] #list to store the file data
  for rec in reader: #copy data into the list rows
    rows.append(rec)
print(rows)

[['', '0', '1', '2'], ['0', '1', '2', '3'], ['1', '4', '5', '6'], ['2', '7', '8', '9']]

In [11]:
f=open("student.csv",'r')
csv_reader=csv.reader(f) #csv_reader is the csv reader object
c=0
for row in csv_reader:
  c=c+1
print("no of records are" , c)
f.close()

no of records are 4

In [12]:
f=open("student.csv",'r')
csv_reader=csv.reader(f)
for row in csv_reader:
  print(','.join(row))
f.close()

,0,1,2
0,1,2,3
1,4,5,6
2,7,8,9

In [13]:
f=open("student.csv",'r')
csv_reader=csv.reader(f)
name=input("enter the name to be searched ")
for row in csv_reader:
  if(row[0]==name):
    print(row)

enter the name to be searched 1
['1', '4', '5', '6']

In [14]:
fields=['NAME','CLASS','YEAR','%']
rows=[['REENA','XII','2005','92'],
['MEENU','XII','2006','94'],
['DEPAK','XII','2007','94'],
['SHWETA','XII','2008','95'],
['YAMINI','XII','2009','96'],
['SABA','XII','2010','95'],
['ASRA','XII','2011','93']]
#name of the csv file
filename='marks.csv'
#writing to csv file
with open(filename,'w',newline='') as f:
  #by default, new line is '\r\n'
  #creating a csv writer object
  csv_w=csv.writer(f,delimiter=',')
  csv_w.writerow(fields)
  for i in rows:
    csv_w.writerow(i)
print("file created")

file created

In [15]:
fields=['NAME','CLASS','YEAR','PERCENTAGE']
#DATA ROWS OF CSV FILE
rows=[
['HASSAN','XII','2007','89'],
['SEEMA','XII','2008','91'],
['SAMI','XII','2009','93'],
['RAHUL','XII','2010','94'],
['NIDHI','XII','2011','92'],
['HEENA','XII','2012','90'],
['NEETU','XII','2013','98'],
['ASNA','XII','2014','97'],
['MARYUM','XII','2015','96']]
#name of csv file
filename="newmarks.csv"
with open(filename,'w',newline='') as f:
  csv_w=csv.writer(f,delimiter=',')
  #writing the fields once
  csv_w.writerow(fields)
  #writing the rows all at once
  csv_w.writerows(rows)
print(" all rows written in one go")

 all rows written in one go

# Binary file pdf

In [18]:
fout=open("story.txt","wb")
normal_str=" Learning Binary File Handling"
encode_str=normal_str.encode("ASCII")
fout.write(encode_str)
fout.close()

In [19]:
import pickle

In [20]:
def BFoperation():
  lst=[10,20,30,40,50,60,70,80,90]
  f=open("list.txt","wb")
  pickle.dump(lst,f)
  print("Data Added to Binary File")
  f.close()
BFoperation()

Data Added to Binary File

In [21]:
fin=open("story.txt","rb")
str1=fin.read()
dstr=str1.decode("ASCII")
print(dstr)
fin.close()

 Learning Binary File Handling

In [22]:
def BFoperation():
  f=open("list.txt","rb")
  d=pickle.load(f)
  f.close()
  print(d)
BFoperation()

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [23]:
import os
cwd=os.getcwd()
print(cwd)

/content

In [24]:
# dictionary
st1={'stud':1201,'Name': 'Meenu', 'Age':25, 'Percentage':65}
st2={'stud':1202,'Name': 'Hina', 'Age':22, 'Percentage':55}
st3={'stud':1203,'Name': 'Amir', 'Age':23, 'Percentage':75}
st4={'stud':1204,'Name': 'Ravi', 'Age':24, 'Percentage':85}
stdf=open("stud.txt",'wb')
pickle.dump(st1,stdf)
pickle.dump(st2,stdf)

pickle.dump(st3,stdf)
pickle.dump(st4,stdf)
print("Data successfully written ")
stdf.close()

Data successfully written

In [27]:
stu={}
stdf=open("std.txt",'wb')
ans='y'
while ans=='y':
  rno=int(input(" Enter roll no : "))
  name=input(" Enter name :")
  marks=float(input(" Enter marks "))
  stu['Roll No']=rno
  stu['Marks']=marks
  pickle.dump(stu,stdf)
  ans=input("Want to enter more records ?(y/n)..")
stdf.close()

 Enter roll no : 1
 Enter name :wajid
 Enter marks 66
Want to enter more records ?(y/n)..n